# Python
__pycache__/
*.pyc
*.pyo

# venv / conda
env/
venv/
*.env

# DB / logs / outputs
data/onion_graph.db*
data/exports/
logs/

# OS
.DS_Store

# Next.js / Node
node_modules/
.next/
out/
npm-debug.log*
